# ***************************************************************
# * Client side configuration parameters for use with the       *
# * OpenVPN setup guide from Matthew Dwight.                    *
# * The setup guides can be found at:                           *
# * http://www.mdwight.com/OpenVPN                              *
# * For more information on parameters see:                     *
# * https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage *
# ***************************************************************
# 
# ================================================
# Variable depending on topology.
#
remote 192.168.1.10 1194
;remote 203.0.113.1 1194
;remote yourhome.dynvpnservice.com 1194
;redirect-gateway def1
;route-gateway 10.8.0.1

# ================================================
# If tcp connection through tunnel hangs enable
# the following. Try 1200, 1300, 1400. This and
# the 'mssfix 1200' parameter have to be enabled 
# on server side.
#
;fragment 1200

# ================================================
# Mostly static details.
#
dev tun
client
proto udp
tls-client
key-direction 1
remote-cert-tls server
nobind
resolv-retry infinite
data-ciphers AES-256-CBC
cipher AES-256-CBC
auth-nocache
;user nobody
;group nogroup
persist-key
persist-tun

# ================================================
# Logging - adjust for testing or debugging.
status status.log
log client.log
verb 3
mute 20
