# ***************************************************************
# * Client side configuration parameters for use with the       *
# * OpenVPN setup guide from Matthew Dwight.                    *
# * The setup guides can be found at:                           *
# * http://www.mdwight.com/OpenVPN                              *
# * For more information on parameters see:                     *
# * https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage *
# ***************************************************************
# 
# ================================================
# Variable depending on topology.
#
remote 10.1.1.3 1194
;remote 203.0.113.2 1194
;remote vpntest.selfip.org 1194
;redirect-gateway def1

# ================================================
# Mostly static details.
#
dev tun
client
proto udp
tls-client
key-direction 1
remote-cert-tls server
nobind
resolv-retry infinite
cipher AES-256-CBC
user nobody
group nogroup
persist-key
persist-tun

# ================================================
# Logging - adjust for testing or debugging.
status openvpn-status-client.log
log openvpn-client.log
verb 3
mute 20
