# ***************************************************************
# * Server side configuration parameters for use with the       *
# * OpenVPN setup guide from Matthew Dwight.                    *
# * The setup guides can be found at:                           *
# * http://www.mdwight.com/OpenVPN                              *
# * For more information on parameters see:                     *
# * https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage *
# ***************************************************************
# 
# ================================================
# Variable depending on topology.
#
port 1194
ifconfig 10.8.0.1 255.255.255.0
ifconfig-pool 10.8.0.101 10.8.0.250

# Push route to local LAN. Routes pushed to clients. 
;push "route 192.168.1.0 255.255.255.0"

# The following  network is on a client.
# Push this route to all clients. 
;push "route 192.168.9.0 255.255.255.0"
# Also add this route to the kernel.
;route 192.168.9.0 255.255.255.0

# ================================================
# If tcp connection through tunnel hangs enable
# the following. Try 1200, 1300, 1400. The 
# 'fragment 1200' parameter has to be enabled on 
# client side.
#
;mssfix 1200
;fragment 1200

# ================================================
# Mostly static details.
#
dev tun1
proto udp
mode server
duplicate-cn
tls-server
key-direction 0
remote-cert-tls client
topology subnet
push "topology subnet"
ifconfig-pool-persist ipp.txt
client-to-client
keepalive 10 120
client-config-dir ccd
crl-verify crl.pem
cipher AES-256-GCM
user nobody
group nogroup
persist-key
persist-tun

# ================================================
# Logging - adjust for testing or debugging.
#
log server.log
status status.log
verb 3
mute 20
