# ***************************************************************
# * Server side configuration parameters for use with the       *
# * OpenVPN setup guide from Matthew Dwight.                    *
# * The setup guides can be found at:                           *
# * http://www.mdwight.com/OpenVPN                              *
# * For more information on parameters see:                     *
# * https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage *
# ***************************************************************
# 
# ================================================
# Variable depending on topology.
#
port 1194
ifconfig 10.8.0.1 255.255.255.0
ifconfig-pool 10.8.0.101 10.8.0.250
#
# Push routes to VPN Clients 
;push "route 192.168.1.0 255.255.255.0 10.8.0.1 2000"
;push "route 192.168.9.0 255.255.255.0 10.8.0.2 2000"

# Add routes to server kernel
;route 192.168.9.0 255.255.255.0

# ================================================
# Mostly static details.
#
dev tun
proto udp4
mode server
tls-server
key-direction 0
remote-cert-tls client
topology subnet
push "topology subnet"
ifconfig-pool-persist ipp.txt
client-to-client
keepalive 10 120
client-config-dir ccd
crl-verify crl.pem
cipher AES-256-CBC
user nobody
group nogroup
persist-key
persist-tun

# ================================================
# Logging - adjust for testing or debugging.
#
status openvpn-status-server.log
log openvpn-server.log
verb 3
mute 20
