# ***************************************************************
# * Server side configuration template for use with the         *
# * OpenVPN setup guide from Matthew Dwight.                    *
# * The setup guide can be found at:                            *
# * http://www.mdwight.com/OpenVPN-Setup-Guide                  *
# * For more information on parameters see:                     *
# * https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage *
# ***************************************************************
# 
# ==============================================
# Variable depending on setup topology
#
port 1194
ifconfig 10.8.0.1 255.255.255.0
ifconfig-pool 10.8.0.101 10.8.0.251
#
# Push routes to VPN Clients 
;push "route 10.1.1.0 255.255.255.0 10.9.0.1"
;push "route 10.1.2.0 255.255.255.0 10.n.n.n"

# Add routes to networks available on clients.
;route 10.1.2.0 255.255.255.0

# ==============================================
# Mostly static details
#
mode server
tls-server
dev tun
proto udp
topology subnet
push "topology subnet"
ifconfig-pool-persist ipp.txt
client-to-client
explicit-exit-notify 1
keepalive 10 120
client-config-dir ccd
crl-verify crl.pem
cipher AES-256-CBC
key-direction 0
user nobody
group nogroup
persist-key
persist-tun

# ==============================================
# Logging - adjust for testing or debugging
#
status openvpn-status-server.log
log openvpn-server.log
verb 3
mute 20
